.navbar {
	justify-content: center;
}

.navbar_container {
	width: 100%;
	position: fixed;
	z-index: 100;
	background: white;
	top: 0;
}

.navbar_logo {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	align-items: center;
}

.theme_switcher {
	display: flex;
	align-items: center;
}

.adaptive_navbar {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.desktop_navbar {
		display: none;
	}

	.adaptive_navbar {
		display: block;
	}
}
